#banner {
    width:100%;
    height:100%;
}
.ui-loader {
    display:none;
}
#image {
    z-index:1;
    position: absolute;
    left:0;
    top:40px;
    height:100%;
    width:100%;
}
#buttons {
    z-index:2;
    position: absolute;
    left:0;
    top:252px;
    width:100%;
}
.btn-block {
    height:95px!important;
    width:100%;
    opacity:0.8;
    margin:0!important;
<<<<<<< HEAD
    white-space:normal !important;
=======
    white-space:normal!important;
>>>>>>> 9e87203f452a28a714e712a841a510729fb37d52
    word-wrap:break-word;
    word-break: normal;
    padding-left:30px;
    padding-right:30px;
    padding-top:25px;
    line-height:80px;
}
.glyphicon {
    float:right;
<<<<<<< HEAD
    margin-top:-5px;
=======
    padding-right:-30px!important;
    margin-bottom:25px;
    margin-top:25px;
>>>>>>> 9e87203f452a28a714e712a841a510729fb37d52
    opacity:0.5;
    font-size:1.3em;
}
#btn1Text {
    margin-top:70px;
    width:100%;
    font-size:1.2em;
    display:in-line;
}
<<<<<<< HEAD
.icon-ok {
    vertical-align: middle;
}
#btndiv {
    position:absolute;
    top:52px;
    left:0;
    z-index:2;
    width:100%;
    height:100px;
}
.bd {
    height:100px;
    width:100%;
    background-color:white;
    opacity:.9;
    border:solid 1px gray;
    text-align:center;
    vertical-align:middle;
    font-size:1.2em;
}
.bdtxt {
    padding-top:30px;
    margin-left:10px;
    margin-right:10px;
    float:left;
    width:85%;
    height:100%;
    background-color:lightgray;
    display:table;
    vertical-align:middle;
}
.bdgly {
    float:right;
    background-color:lightblue;
    height:60%;
}
.ui-loader {
    display:none!important;
}
