

#image {
    z-index:1;
    position: absolute;
    left:0;
    top:40px;
    height:100%;
    width:100%;
}
#buttons {
    z-index:2;
    position: absolute;
    left:0;
    top:52px;
    width:100%;
}
.btn-block {
    height:95px!important;
    width:100%;
    opacity:0.8;
    margin:0!important;
    white-space:normal!important;
    word-wrap:break-word;
    word-break: normal;
    padding-left:30px;
    padding-right:30px;
    padding-top:25px;
    line-height:80px;
}
.glyphicon {
    float:right;
    padding-right:-30px!important;
    margin-bottom:25px;
    margin-top:25px;
    opacity:0.5;
    font-size:1.3em;
}
#btn1Text {
    margin-top:70px;
    width:100%;
    font-size:1.2em;
    display:in-line;
}
.ui-loader {
    display:none!important;
}